* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0d5d4;
  background-image: url("../img/manga-icon-14.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  color: #892e36;
  height: 10vh;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}

menu {
  grid-area: menu;
  background-color: #f9efed;
  height: 85vh;
}

main {
  grid-area: main;
  background-color: white;
  height: 85vh;
  overflow-y: auto;
}

footer {
  grid-area: footer;
  background-color: #f0d5d4;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  font-size: 300;
  gap: 4px;
}

.icon-size {
  font-size: 1.4rem;
}

.container-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Rubik";
  padding: 20px;
  gap: 15px;
}

.list-menu {
  display: flex;
  font-family: "Rubik";
  font-size: 300;
  padding: 10px;
  flex-direction: column;
  gap: 8px;
}

.item-menu {
  display: flex;
  gap: 5px;
}

.item-menu:hover {
  color: #892e36;
}

.name-category {
  font-family: "Rubik";
  font-size: 500;
}

.quantity-manga {
  font-family: "Rubik";
  font-size: 300;
  color: grey;
}

.grid-container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 25px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px -1px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.title-book {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
}

.price {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 10px;
}

.btn {
  background-color: #892e36;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 5p;
  border: none;
  cursor: pointer;
  padding: 14px 28px;
}

.btn:hover {
  background-color: #e28d89c8;
}
