* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  gap: 10px;
}

header {
  grid-area: header;
  background-color: bisque;
  height: 10vh;
  justify-content: center;
}

menu {
  grid-area: menu;
  background-color: bisque;
  height: 80vh;
}

main {
  grid-area: main;
  background-color: bisque;
  height: 80vh;
}

footer {
  grid-area: footer;
  background-color: brown;
}

.card {
  display: flex;
  flex-direction: column;
}
